if theme.post_copyright.enable && page.copyright !== false
  - let author = page.copyright_author ? page.copyright_author : config.author
  - let authorEmail = page.copyright_author_email ? `mailto:${page.copyright_author_email}` : `mailto:${config.email}`
  - let authorHead = page.copyright_author_head ? page.copyright_author_head : config.copyavatar
  - let url = page.copyright_url ? page.copyright_url : page.permalink
  - let authorHref = page.copyright_author_href ? page.copyright_author_href : config.url
  - let info = page.copyright_info ? page.copyright_info : _p('post.copyright.copyright_content', theme.post_copyright.license_url, theme.post_copyright.license, config.url, author)
  .post-copyright  
    .post-copyright-left
      .post-copyright__authorAvatar
        .avatar-img
          img(src=url_for(authorHead) alt="avatar")
    .post-copyright-right
      .post-copyright__author
        span.post-copyright-meta= _p('post.copyright.author') + ": "
        span.post-copyright-info
          a(href=authorEmail)=author
      .post-author__url
        span.post-copyright-meta= _p('post.copyright.authorLink') + ": "
        span.post-copyright-info
          a(href=authorHref)=authorHref
      .post-copyright__type
        span.post-copyright-meta= _p('post.copyright.link') + ": "
        span.post-copyright-info
          a(href=url_for(url))= theme.post_copyright.decode ? decodeURI(url) : url
      .post-copyright__notice
        span.post-copyright-meta= _p('post.copyright.copyright_notice') + ": "
        span.post-copyright-info!= info
